body {
    font-family: sans-serif;
    color: black;
    margin-top: 60px;
    background-color:lightgrey;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container {
    color: #404040;
    padding-left: 20px;
    padding-right: 20px;
    background-color : lightgrey;
    font-family: sans-serif;
}
